[Unit]
Description=Enables/disables the buildin display when connecting/disconnecting an HDMI cable.

[Service]
Type=oneshot
ExecStart=/home/guille/dotfiles/scripts/switcher.sh

