[user]
	email = guillermo.fernandez@taidy.io
	user = "Guillermo Fernandez"
	name = Guillermo Fernandez
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[credential]
	helper = store
[diff]
    external = difft
[pull]
	rebase = false
[init]
	defaultBranch = main
