/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5c2e7;


/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: "Iosevka Custom";
}

window#waybar {
  background-color: rgba(17, 17, 27, 0.6); 
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: .5s;
}

#custom-launcher,
#clock,
#clock-date,
#workspaces,
#pulseaudio,
#network,
#battery,
#tray,
#bluetooth,
#custom-power {
  background-color: @surface0;
  color: @text;
  padding: 0px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  margin-left: 4px;
  margin-right: 4px;
	border-radius: 5px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  padding: 0px;
  margin: 5px;
}

#workspaces button {
  color: @rosewater;
  font-size: 20px;
  margin: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button.active {
  background-color: @rosewater;
  color: @base;

	border-radius: 5px;
}

#pulseaudio {
  color: @maroon;
}

#network {
  color: @mauve;
}

#bluetooth {
  color: @teal;
}

#clock {
  color: @peach;
}

#custom-power {
  color: @maroon;
  font-weight: bold;
}

#battery {
  color: @yellow;
}
