[Desktop Entry]
Name=URL Router
Comment=Routes Meet links to PWA and all others to default browser.
Exec=/home/guille/.local/bin/https-router.sh %U
Icon=google-meet
Terminal=false
Type=Application
MimeType=x-scheme-handler/https;x-scheme-handler/http;
